@{
    ViewBag.Title = "Glemt adgangskode godkendelse";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>@ViewBag.Title.</h1>
            </div>
        </div>
    </div>
</div>

<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>Obs!</strong>
                    Check venligst din e-mail for at nulstille din adgangskode.
                </div>
                @*Please check your email to reset your password.*@
            </div>
        </div>
    </div>
</div>

